@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0; 
    font-family: "Oswald", sans-serif;
}

/*---------------------------------------Colors */

body {
    background-color: #5EC277;
    color: #003800
}

/*---------------------------------------Special and global */

button {
    padding: 5px;
}

.btn:hover {
    background-color: #0058CC;
}


/*---------------------------------------Header and Logo */

header {
    background-color: #0058CC;
    height: 50px;
}  

#logo {
    font-family: inherit;
    font-weight: 500;
    font-size: 200%;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 10px;
    color: #F8FFF8;
    float: left;
}

#open-rules {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    text-transform: uppercase;
}

#logo, #open-rules {
    line-height: 30px;
    
}

/*---------------------------------------how to play instructions overlay */


#rules {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0058CC;
    color: #F8FFF8;
    font-family: inherit;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*--------------------------------------- game area */

#game-area {
    height: 60vh;
    width: 80vw;
    border: 5px solid black;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    position: relative
}

#dealer, #player {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-area {
    height: 10vh;
    text-align: center;
}

#dealer-cards {
    margin-bottom: 5vh;
}

#player-cards {
    margin-bottom: 5px;
}

#message-box {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#bankroll-container, .game-btns {
    margin-top: 5px;
}

#stake, .chipbtn, .playerbtn {
    height: 5vh;
}

.card {
    height: 10vh;
    width: 8vh;
    font-family: "Bebas Neue", sans-serif;
    font-size: 10vh;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    line-height: 10vh;

}

#stakebox {
    height: 5vh;
    border-radius: 50%;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid black;
}

#chip-buttons, #player-buttons {
    display: none;
}

.chipbtn, .playerbtn {
    height: 5vh;
    border-radius: 50%;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid black;
}

#bankroll-container {
    position: absolute;
    bottom: 5%;
    left: 47%;
}

#cashbox, .scorebox {
    height: 5vh;
    width: 10vh;
    background-color: white;
    margin-left: 5px;
    padding-left: 4px;
    padding-right: 4px;
    border: 2px solid black;
}

#new-game {
    text-align: center;
    margin-top: 2vh;
}

/*--------------------------------------- footer */

footer {
    background-color: #0058CC;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}

#owner {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
}

#link {
    color: #F8FFF8;
    text-decoration: none;
}

/*--------------------------------------- 404 page */

#error-message {
    position: absolute;
    top: 10%;
    left: 10%;
}

/*--------------------------------------- responsive for smaller screens */

@media screen and (max-width: 450px) {
#logo {
    font-size: 100%;
}

#rules {
    font-size: 75%;
}

.card {
    height: 6vh;
    width: 5vh;
    font-size: 6vh;
    line-height: 6vh;
}
}

#container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

